@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*body{*/
/*    background: #ff9947!important;*/
/*}*/

img {
    max-width: 250px!important;
}

.menu-card{
    height: 200px;
    border: 1px #ccc solid;
    border-radius: 20px;
    padding: 20px;
}
.menu-buttons{
    position: absolute;
    bottom: 15px;
}

.pagination{
    text-align: center;
}
.navbar{
    margin-bottom: 0px!important;

    text-transform: uppercase!important;
}
.title{
    margin-top: -10px!important;
}
.border-bottom{
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px #ccc solid;
}

.header{
    margin-bottom: 30px;
}

.card-header{
    text-align: center;
    padding: 50px;
    background: white;
}

.custom-login-btn{
    background: #1368c3;
    border: #123e96;
    margin: 0 auto;
    height: 40px;
    width: 40%;
    font-size: 16px;
    font-weight: 600;
}
.custom-login-btn:hover{
    background: #123e96;
    border: #123e96;
    transition: 1s;
}
.custom-login-btn:focus{
    background: #123e96;
    border: #123e96;
}

.custom-copyright{
    text-align: center;
    margin-top: 20px;
}

.custom-register-button{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

.custom-navbar-logo{
    width: 150px;
    margin-top: -27px;
}
.navbar-brand-loguot{
    padding-left: 0px!important;
    padding-top: 35px;
}
.navbar-brand{
    font-size: 15px!important;
}
.custom-user{
    height: 50px;
    margin-top: -19px;
    font-size: 14px;
}
.custom-user ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.custom-add-btn{
    background: #f04f24;
    border: #bf4120;
    box-shadow: 0 0 0 0.2rem rgb(240, 79, 36);
    margin: 0 auto;
    height: 35px;
    width: 171px;
    font-size: 14px;
    padding: 9px;
}
.custom-add-btn:hover{
    background: #bf4120;
    border: #bf4120;
    box-shadow: 0 0 0 0.2rem rgb(158, 62, 36);
    transition: 1s;
}
.custom-add-btn:focus{
    background: #bf4120;
    border: #bf4120;
    box-shadow: 0 0 0 0.2rem rgb(158, 62, 36);
}


.custom-app-card{
    padding: 10px;
}
.custom-app-wrap{
    border: 1px solid #474747;
    border-radius: 10px;
    min-height: 180px;
    padding: 20px;
}
.custom-app-wrap ul{
    list-style: none;
    padding: 0px;
}

.user-card-header{
    display: inline-flex;
    width: 100%;
    height: 50px;
}
.user-card-header img{
    width: 50px!important;
    margin-right: 15px;
}

.custom-btn{
    background: #1368c3;
    border: #184779;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
}
.custom-btn:hover{
    background: #184779;
    border: #184779;
    transition: 1s;
}
.custom-btn:focus{
    background: #184779;
    border: #184779;
}

.nav-link{
    background: #1368c3;
}
.nav-link{
    color: #ffffff!important;
    font-weight: bold;
}


.nav>li>a:focus, .nav>li>a:hover{
    background: #184779!important;
}

.custom-edit-btn{
    background: #b38108;
    border: #af821e;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
}
.custom-edit-btn:hover{
    background: #806018;
    border: #806018;
    transition: 1s;
}
.custom-edit-btn:focus{
    background: #806018;
    border: #806018;
}

.custom-delete-btn{
    background: #de0a21;
    border: #de0a21;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
}
.custom-delete-btn:hover{
    background: #a00d1d;
    border: #a00d1d;
    transition: 1s;
}
.custom-delete-btn:focus{
    background: #a00d1d;
    border: #a00d1d;
}












/*NEEEEEEEEEEEEEEEEEEEEEEEEEEEEW GDYNIA*/

.py-4{
    padding: 0px!important;
}
.row{
    padding: 0px!important;
    margin: 0px!important;
}
.home-image{
    width: 100% !important;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.lang-wrap{
    background: #ff9947;
    height: 100vh;
    width: 100vw;
    padding-top: 12px!important;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.header{
    height: 100px;
}
.header-logo{
    width: 100%;
}
.header-lang{
    height: 70px;
    margin-top: 18px;
}

.lang-title{
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.lang-list-wrap{
    list-style: none;
    padding: 0px;
}
.lang-list-wrap li{
    background: black;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.lang-list-wrap img{
     margin: 5px;
     height: 50px;
 }
.lang-list-wrap h4{
    padding-top: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}

#preloader{
    background: white;
    z-index: 99;
    display: block;
    height: 100vh;
    width: 100vw;
}
.code-title{
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.code-input{
    color: #292929;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px!important;
}
.number-button{
    height: 60px;
    padding: 5px!important;
}
.number-button button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.number-button-black{
    height: 60px;
    padding: 5px!important;
}
.number-button-black button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    background: black;
}

.rodo{
    position: fixed;
    height: auto;
    padding-bottom: 20px;
    bottom: 0;
    background: #f59140;
}

.rodo h5{
    font-size: 10px;
    color: black;
    text-align: justify;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.rodo button{
    background: #000;
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
    color: white;
    font-size: 11px;
}

.dialog-button{
    height: 50px;
}

.dialog-button button{
    width: 100%;
    height: 100%;
    background: black;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}

.audio-card{
    background: black;
    border-bottom: 1px white solid;
    min-height: 100px;
    overflow-y: hidden;
}

.audio-card a{
    color: white;
}

.audio-card-sub{
    height: auto;
    background: #968c87;
    border-bottom: 1px white solid;
    display: none;
}

.card_title{
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
}

.card_title-18{
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}
.card_title-15{
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}
.modal-body {
    padding: 10px !important;
}
.dialog-close{
    background: #000;
    border: none;
    color: white;
    text-align: right;
    padding-right: 11px;
    padding-top: 5px;
}

/*AUDIO PLAYER*/
div.audioplayer{
    width: 100%;
    margin-bottom: 10px;
}

div.stop{
    width: 28px;
    height: 28px;
    background-image: url("../img/stop.png");
    background-size: 28px 28px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-color 0.4s;
    float: left;
    cursor: pointer;
}

div.play-pause{
    width: 28px;
    height: 28px;
    background-image: url("../img/play.png");
    background-size: 28px 28px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-color 0.4s;
    float: left;
    cursor: pointer;
}

div.seekbar-container{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 28px;
    padding-right: 8px;
    padding-left: 8px;
}

div.currentTime{
    margin-left: 10px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
}

div.seekbar-bg{
    height: 4px;
    background-color: transparent;
    border: 1px solid #fff;
    width: 100%;
}

div.seekbar{
    background-color: #fff;
    height: 100%;
}